div.beforeandafter{ /* main container */
	
	display: block;
	height: 434px; /* default height of main container */
	overflow: hidden;
	position: relative; 
	width: 650px; /* default width of main container */
}

div.beforeandafter img{
	max-width: none !important;
}

div.before1, div.after1{ /* before and after DIVs within main container */
	height: 100%;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 0;
	transition: width 0.4s ease-in-out; /* CSS transition. Actual duration set inside script (options.revealduration) */
	width: 100%;
	z-index: 7;
}

div.after1{
	z-index: 1; /* z-index of after div should be smaller than before's */
}


div.drag{ /* main div used for separating and dragging between before and after slides */
	background: white;
	cursor: col-resize;
	display: block;
	height: 100%;
	left: 100%;
	position: absolute;
	top: 0;
	transition: left 0.4s ease-in-out; /* transition. 0.4s sets duration of drag fade in time */
	width: 2px; /* width of drag bar separator */
	z-index: 7;
}

div.drag div.draghandle{ /* handle bar within drag interface */
	background: #9a827d;
	height: 20%; /* height of drag handle */
	position: absolute;
	text-align: center;
	width: 16px; /* width of drag handle */
}

.label-bottom div.before1 span.caption, .label-bottom div.after1 span.caption{ /* CAS to syle SPAN caption. Optional */	
	bottom: 10px;	
	display: block;	
	position: absolute;
	right: 10px;	
	text-align: center;	
}

.label-top div.before1 span.caption, .label-top div.after1 span.caption{ /* CAS to syle SPAN caption. Optional */
	top: 10px;	
	display: block;	
	position: absolute;
	right: 10px;	
	text-align: center;	
}
div.rs-image-comparision{
	width: 100%;	
	height: 600px;
}
.rs-image-comparision span.caption{
	color: #fff;
	background:#000;
	width: 90px;	
}

div.before1 span.caption{
	left: 10px;
	right: auto;
}